<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>PLAN YOUR JOURNEY HOME...</h3>

<div>
  <form action="/" method = "POST">
    <label for="fname">Leaving from</label>
    <input type="text" id="start" name="office" value="My Office (EFICODE, Finland)" disabled>

    <label for="lname">Going to</label>
    <input type="text" id="location" name="location" placeholder="Enter address to your home...">

  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
